<div class="container">
    <nav class="nav">

      <a routerLink="./pizzas" class="nav-brand logo">
        <img src="../../../../assets/images/logo_s.png" alt="">
      </a>

      <div style="position: relative; display: flex; width: 100%; max-width: 600px">

        <app-input (inputActiveData)="changeSearchActive($event)" [placeholder]="'Search angular pizza...'" (outputData)="outData($event)" [iconPosition]="'left'">
          <app-icon style="opacity: 0.4" [name]="'search'" [size]="IconSize.md"></app-icon>
        </app-input>

        @if (searchActive) {
          <app-search-list [textBySearch]="inputData()" [searchPizzas]="filteredList()"></app-search-list>
        }

      </div>

      <app-card-counter [routerLink]="navigateTo()"></app-card-counter>
    </nav>
</div>

<div class="background" *ngIf="searchActive"></div>
