<div class="container">
    <nav class="nav">

      <a routerLink="./pizzas" class="nav-brand logo">
        <img src="../../../../assets/images/logo_s.png" alt="">
      </a>

      <div style="position: relative; display: flex; width: 100%; max-width: 600px">

        <app-input (inputActiveData)="changeSearchActive($event)" [placeholder]="'Search angular pizza...'" (outputData)="outData($event)" [iconPosition]="'left'">
          <app-icon style="opacity: 0.4" [name]="'search'" [size]="IconSize.md"></app-icon>
        </app-input>

        @if (searchActive) {
          <app-search-list [textBySearch]="inputData()" [searchPizzas]="filteredList()"></app-search-list>
        }

      </div>
      <div class="f-hor nav-menu">
        <app-auth (click)="addQueryForModal()"></app-auth>
        <app-card-counter (click)="drawerStateChange()"></app-card-counter>
      </div>
    </nav>
</div>

<!-- !!!!!!!!!!!!!!!!!!!!!!!!!! -->
@if(true){
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!! -->
  <app-modal (isClose)="authModalClose($event)" [formGroup]="login">
    <h4>Sign In to Account</h4>
    <p>Write your email and password to login.</p>
<!--    <app-input (outputData)="login.controls.email.patchValue($event); inputLog($event)" [value]="login.controls.email.value!" formControlName="email" inputType="filter" [isFilled]="true"></app-input>-->
<!--    <app-input (outputData)="login.controls.password.patchValue($event); inputLog($event)" [value]="login.controls.password.value!" formControlName="password" inputType="filter" [isFilled]="true"></app-input>-->
    <app-input-fc [variant]="InputVariantEnum.PRIMARY" formControlName="email"/>
    <app-input-fc [variant]="InputVariantEnum.DANGER" formControlName="password"/>
    <app-button [isFilled]="true" text="Get message"></app-button>
  </app-modal>
}

<div class="background" *ngIf="searchActive"></div>
