:host{
  display: block;
  margin-bottom: 72px;
  position: sticky;
  z-index: 999;
  top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 24px 16px;
  gap: 40px;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.container {
    background-color: rgba(256, 256, 256, 0.95);
}

.container::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    height: 1px;
    width: 100vw;
    background-color: #EDEDED;
}

app-authorization {
    height: fit-content;
}

app-input{
  z-index: 999;
}

.nav-brand {
    @extend app-authorization;
    display: inline-flex;
}


.background{
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s ease-in opacityAnim;
}

@keyframes opacityAnim {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.nav-menu{
  gap: 8px;
}

app-modal{
  h4{
    margin-bottom: 12px;
    max-width: 350px;
  }

  p{
    margin-bottom: 24px;
    color: #7C7C7C;
  }

  app-input-fc{
    margin-bottom: 4px
  }

  app-input-fc:nth-child(even){
    margin-bottom: 20px;
  }
}
