nav {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;
    //justify-content: space-between;
    gap: 40px;
    align-items: center;


}

.container {
    background-color: rgba(256, 256, 256, 0.95);
}

.container::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    height: 1px;
    width: 100vw;
    background-color: #EDEDED;
}



.background {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    left: 0;
    top: 0;
}


app-authorization {
    height: fit-content;
}

.nav-brand {
    @extend app-authorization;
    display: inline-flex;
}
