app-layout{
  height: min-content;
}

.order-list{
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 128px;
  &--left{
    max-width: 752px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &--right{
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: 128px;
  }
}
