:host{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 56px;
  background-color: white;
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
  border: 1px solid #EFEFEF;
  padding: 12px 0;
  z-index: 999;
}
