<div class="container notfound">
    <div class="notfound-left">
        <h2 class="h2 notfound-left--title">Page is not found</h2>
        <p class="notfound-left--subtitle">Check if the entered address is correct or try again later</p>
        <app-button routerLink="/pizzas" [iconPosition]="'left'" [buttonSize]="'md'" [variant]="'outline'" [text]="'На главную'">
          <app-icon [name]="'arrow-left'" [size]="IconSize.md"></app-icon>
        </app-button>
    </div>
    <img src="../../../assets/images/illustrations/notfound.png" alt="" class="notfound-img">
</div>
