<a class="card">
      <div class="card-header" [routerLink]="'pizza' + '/' + pizzaId">
        <div class="card-image">
          <div *ngIf="pizzaTag" [ngClass]="{
                'card-image-tag--top': pizzaTag === 'top',
                'card-image-tag--new': pizzaTag === 'new',
                'card-image-tag--none': pizzaTag === 'none'
            }" class="card-image-tag">{{ pizzaTag === 'top' ? 'TOP' : pizzaTag === 'new' ? 'NEW' : '' }}
          </div>
          <img [src]="pizzaImgUrl" alt="">
        </div>
        <h4 class="card-title">{{ pizzaTitle }}</h4>
        <p class="card-ingredients">{{ pizzaIngredients.join(", ") }}</p>
      </div>
    <div class="card-container">
        <div class="card-container--price"><b>${{ pizzaPrice }}</b></div>
        <app-button (click)="isClickOnButton(true)" [iconPosition]="'right'" [variant]="'secondary'" [text]="'Add'">
          <app-icon [name]="'plus'" [size]="IconSize.md"></app-icon>
        </app-button>
    </div>
</a>
