<div class="title">
  <p *ngIf="selectorState.length !== 0">{{ selectorState.length }}x ingredients</p>
</div>

<div class="selectors">

  <div class="selector"
       [ngClass]="{'active': selectorState.includes(item) }"
       (keydown.enter)="setActive(item)"
       (click)="setActive(item)"
       [tabindex]="i"
       *ngFor="let item of ingredients(); let i = index">

    <img [src]="item.imgUrl" alt="" class="selector-img">
    <p class="selector-title">{{ item.title }}</p>
    <span class="selector-price">{{ item.price }} $</span>

  </div>

</div>
