:host{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper{
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
}

label{
    text-transform: capitalize;
}

label:before{
    content: '';
    z-index: 999px;
    display: flex;
    width: 24px;
    aspect-ratio: 1;
    background-color: #F1F1F1;
    border-radius: 100%;
}

input[type="radio"]{
    display: none;
}

.wrapper:has(input[type="radio"]:checked)::before {
    box-shadow: inset 0px 0px 0px 7px #FE5F00;
    transition: 0.1s ease-in;
    background-color: white;
}
