app-header {
  position: sticky;
  top: 0;
  z-index: 999;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

app-not-found {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .drawer-submit {
    position: absolute;
  }
}
