:host{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 10px 20px;
  cursor: pointer;
}

:host:hover{
  background-color: #FFFAF6;
}

img{
  width: 30px;
  aspect-ratio: 1;
}

.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 256px;
  max-height: 430px;
  height: 100%;
  cursor: pointer;


  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 256px;
    background-color: #FFF7EE;
    border-radius: 16px;

    &-tag {
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 2px 10px;
      border-radius: 1000px;
      right: 16px;
      top: 16px;
      color: white;
      background-color: #CECECE;

      &--top {
        background-color: #FE5F00 !important;

      }

      &--new {
        background-color: #1BB486 !important;
      }

      &--none {
        display: none !important;
      }
    }
  }
}
