<div class="container notfound">
    <div class="notfound-left">
        <h2 class="h2 notfound-left--title">Page is not found</h2>
        <p class="notfound-left--subtitle">Check if the entered address is correct or try again later</p>
        <app-button routerLink="/pizzas" [buttonSize]="'big'" [variant]="'outline'" [text]="''"><svg width="16" height="16"
                viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.7144 7.99414L1.00007 7.99414" stroke="#FE5F00" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M7 13.9883L1 7.9942L7 2.00012" stroke="#FE5F00" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            На главную</app-button>
    </div>
    <img src="assets/images/illustrations/notfound.png" alt="" class="notfound-img">
</div>
