/* You can add global styles to this file, and also import other style files */
@import url(../src/buttons.scss);
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url(../src/typography.scss);
@import url(../src/normalize.scss);

* {
    margin: 0;
    padding: 0;
    transition: 0.06s ease-in;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
}

a {
    text-decoration: none;
    color: inherit;
}