@for (option of options(); track $index){

  @if(toggleListFlag || $index <= 4){
    <div class="wrapper" (click)="onCheckboxChange(option ,$event)" [tabindex]="$index + 1">
      <div class="checkbox" [ngClass]="{'active' : isSelected(option.value)}">
        <svg *ngIf="isSelected(option.value)" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 6.2L4.57143 9L11 2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <input type="checkbox" [value]="option.value" [checked]="isSelected(option.value)" style="display: none" > {{ option.value }}
    </div>
  }

  @if($index == options().length - 1){
    <app-button (click)="toggleList()" variant="transparent" [text]="!toggleListFlag ? 'View all ingredients' : 'Swap ingredients'" buttonSize="sm">
<!--      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M7.99967 3.33325V12.6666M3.33301 7.99992H12.6663" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--      </svg>-->
    </app-button>
  }
}
