<button [type]="type" [disabled]="isDisabled" class="button" [ngClass]="{
    'button-disabled': isDisabled,
    'button-primary': variant === 'primary' ,
    'button-secondary': variant === 'secondary' ,
    'button-outline': variant === 'outline' ,
    'button-passive': variant === 'passive' ,
    'button-transparent': variant === 'transparent' ,
    'button-icon':  text === '' ,
    'button-filter': filterButton ,
    'button-filter--active': filterButtonActive ,
    'button-filled': isFilled ,
    'button-lg' : buttonSize === 'big' ,
    'button-md' : buttonSize === 'md' ,
    'button-sm' : buttonSize === 'sm' ,
    'button-l' : iconPosition === 'left' ,
    'button-r' : iconPosition === 'right'
    }">
    {{ text }}
      @if(iconPosition !== 'none'){
        <ng-content></ng-content>
      }
</button>
