<button [disabled]="isDisabled" class="button" [ngClass]="{
    'button-disabled': isDisabled,
    'button-primary': variant === 'primary' && !isDisabled,
    'button-secondary': variant === 'secondary' && !isDisabled,
    'button-outline': variant === 'outline' && !isDisabled,
    'button-passive': variant === 'passive' && !isDisabled,
    'button-transparent': variant === 'transparent' && !isDisabled,
    'button-icon':  text === '' && !isDisabled,
    'button-filter': filterButton && !isDisabled,
    'button-filter--active': filterButtonActive && !isDisabled,
    'button-filled': isFilled && !isDisabled,
    'button-lg' : buttonSize === 'big' && !isDisabled,
    'button-md' : buttonSize === 'md' && !isDisabled,
    'button-sm' : buttonSize === 'sm' && !isDisabled,
    'button-l' : iconPosition === 'left' && !isDisabled,
    'button-r' : iconPosition === 'right' && !isDisabled
    }">
    {{ text }}
      @if(iconPosition !== 'none'){
        <ng-content></ng-content>
      }
</button>
