<div class="container pizza">

  <div class="pizza-img">
    <img style="position: relative; aspect-ratio: 1" [src]="currentPizza.imgUrl" alt="">
  </div>

  <div class="pizza-constructor">
    <h2 class="h2 pizza-title">{{ currentPizza.title }}</h2>
    <p class="pizza-types">{{ currentPizza.size }}, {{ activePizzaThickness.toLowerCase() + ' ' + 'thickness' }}, {{ currentPizza.weight }} g</p>
    <div class="pizza-types--switchers">
      <app-switch [items]="pizzaSizeArray" (activeChange)="onSwitchSize($event)"></app-switch>
      <app-switch [items]="pizzaThicknessArray" (activeChange)="onSwitchThickness($event)"></app-switch>
    </div>

    <app-additional-selector [ingredients]="testIngredients" (activatedSelector)="selectedChanged($event)"></app-additional-selector>
    <app-button [isFilled]="true" [variant]="'primary'" iconPosition="left" [buttonSize]="'md'"  [text]="''">
      {{ 'Add to card for' + ' $' + totalPrice.toFixed(2) }}
    </app-button>
  </div>

</div>
